obj/
bin/
UnityProject/Temp/
.DS_Store

UnityProject/Assets/Resources/Data/HexPieces/**/*.yaml
UnityProject/Assets/Resources/Data/HexPieces/**/*.yaml.meta
UnityProject/Assets/Resources/Data/HexPieces/**/*.hexpiece.yaml
UnityProject/Assets/Resources/Data/HexPieces/**/*.hexpiece.yaml.meta
