name: Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  library:
    name: Build library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore
        run: dotnet restore maps.csproj
      - name: Build
        run: dotnet build maps.csproj -c Release --no-restore

  renderer-cli:
    name: Build renderer CLI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore
        run: dotnet restore TestBitmap/TestBitmap.csproj
      - name: Build
        run: dotnet build TestBitmap/TestBitmap.csproj -c Release --no-restore
